html , body{
    margin:0
}

.bar{
    background-color: #b4cddc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    width:100%;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bar-line{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    text-align: center;
}


.nav-bar{
    display: flex;
    flex-wrap: nowrap;
}

.logo{
    width: 100px;
    background-color: transparent;
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    padding-top: 5px;
}


.nav-list , .nav-list li{
    background-color: white;
    display: flex;
    list-style: none;
    padding-top: 5px;
    gap: 20px;
    text-align: center;
    text-decoration-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.navdiv-icons{
    display: flex;
    gap: 20px;
    padding-left: 200px ;
    margin-right: 50px;
    justify-content: right;
}

.nav-icons{
    width: 25px;
    gap: 10px;
}


