html , body{
    margin:0
}

.divbar{
    background-color: #b4cddc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    width:100%;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bar-line{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    text-align: center;
}


.nav-bar{
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    background-color: white;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.divlogo{
    width: 100px;
    background-color: transparent;
    margin-left: 30px;
    margin-top: 7px;
    position: relative;
    
}

.logo-img{
    padding-top: 3px;
    padding-left: 5px;
}


.nav-list, .nav-list-item, .nav-list-item2, .nav-list-item6{
    background-color: white;
    display: flex;
    list-style: none;
    padding-top: 7px;
    gap: 25px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.nav-list-item, .nav-list-item2, .nav-list-item6{
    text-decoration: none;
    text-align: center;
    justify-content: center;
   
}

.nav-list-item{
    color: black;}


.nav-list-item2{
    color: #d5af37
}

.nav-list-item6{
    color:#fd6500;
}

.navdiv-icons{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    padding-left: 100px ;
    margin-right: 50px;
    justify-content: right;
}

.nav-icons{
    margin-left: 10px;
    width: 25px;
    gap: 15px;
}

.div-carousel-imgs{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-img{
    width: 100%;
}

.top-picks-container{
    align-items: center;
    justify-content: center;
}

.top-picks{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.top-picks-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.top-picks-img{
    width: 100%;
    margin-top: 15px;
}

