.bar{
    background-color: #b4cddc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    width:100%;
    margin: 0;
    text-align: center;
}

.bar-line{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    text-align: center;
}

.nav-menu{
    background-color: white;
    display: flex;
    width:100%;
    list-style: none;
    gap: 10px;
    text-align: center;
    text-decoration-color: black;

}


