html , body{
    margin:0
}

*{
    font-family: Arial, Helvetica, sans-serif;
    list-style:  none;
}

h3:hover{
text-decoration: underline;
}



.divbar{
    background-color: #b4cddc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    width:100%;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bar-line{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    text-align: center;
}


.nav-bar{
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    background-color: white;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.divlogo{
    width: 100px;
    background-color: transparent;
    margin-left: 30px;
    margin-top: 7px;
    position: relative;
    
}

.logo-img{
    padding-top: 3px;
    padding-left: 5px;
}


.nav-list, .nav-list-item, .nav-list-item2, .nav-list-item6{
    background-color: white;
    display: flex;
    list-style: none;
    padding-top: 7px;
    gap: 25px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.nav-list-item, .nav-list-item2, .nav-list-item6{
    text-align: center;
    justify-content: center;
   
}

.nav-list-item a{
    color: black;
    text-decoration: none;
    
}


.nav-list-item2 a{
    color: #d5af37 ;
    text-decoration: none;
   
}

.nav-list-item6 a{
    color:#fd6500;
    text-decoration: none;

}

.navdiv-icons{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    padding-left: 100px ;
    margin-right: 50px;
    justify-content: right;
}

.nav-icons{
    margin-left: 10px;
    width: 25px;
    gap: 15px;
}

 .submenu-newin-list,.submenu-ramadan-list,.submenu-sales-list{

    display: none;

}

.div-img{
    width: 200px;
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

 .submenu-newin-img{
    display: flex;
    width: 180px;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
 
}

.nav-list-item:hover .submenu-newin-list{
     display: flex;
     background-color: white;
     position: absolute;
     padding: 5px;
     margin-top: 12px;
     margin-left: -50px;
   
}

.nav-list-item2:hover .submenu-ramadan-list{
    display: flex;
    background-color: white;
    position: absolute;
    padding: 5px;
    margin-top: 12px;
    margin-left: -50px;
    
}

.nav-list-item6:hover .submenu-sales-list{
    display: flex;
    background-color: white;
    position: absolute;
    padding: 5px;
    margin-top: 12px;
    margin-right: 100px;
    margin-left: -400px;
    
}


.div-carousel-imgs{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-img{
    width: 100%;
}

.top-picks-container, .best-seller-container{
    align-items: center;
    justify-content: center;
}

.top-picks,.best-sellers{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.top-picks-text,.best-sellers-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.top-picks-img, .best-seller-img{
    width: 100%;
    margin-top: 15px;
}

.div-logo-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9f5;
    margin-top: 20px;
    
}

.ul-list-logo{
    display: flex;
    list-style:none;
    gap: 180px;
    margin-top: 20px;
    padding-top: 30px;
}

.list-logo a{
    text-decoration: none;
    color: black;

}

.div-help{
    display: flex;
    margin-top: 10px;
    padding-top: 20px;
}

.div-faq{
    justify-content: flex-end;
}

.div-footer{
    display: flex;
    height: auto;
    gap: 160px;
    margin-top: 20px;
    margin-left: 70px;
}


.ul-footer-help,.ul-footer-more,.ul-footer-socials {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    list-style: none;
    gap: 60px;
    margin-top: 10px;
}


.li-footer-help a, .li-footer-more a, .li-footer-socials a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    line-height: 30px;
}


.div-end-footer{
    display: flex;
    height: auto;
    margin-top: 8px;
    margin-bottom: 40px;
    margin-left: 70px;
    gap:50px;
}

h4{
    font-size: 14px;
    font-weight: lighter;
    color: grey;
}

.div-pay,.div-securedby{
    
    padding-right: 50px;
    padding-left: 30px;
    gap: 30px;
    margin-left: 10px;
}

.div-khaddilogo{
    display: flex;
    padding-right: 50px;
    padding-left: 20px;
    padding-top: 15px;
    gap: 25px;
    margin-left: 10px;
}

.imgpay{
    width: 70px;
    height: auto;
}

.imgpay-union{
    width: 50px;
    height: auto;
}

.img-khaddilogo{
    width: 60px;
    height: auto;
}

.cpyright-txt{
    padding-top: 15px;
    font-size: 11px;
    color: grey;
    font-weight: lighter;
}
