.bar{
    background-color: #b4cddc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    width:100%;
    margin: 0;
    text-align: center;
}

.bar-line{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    text-align: center;
}


.nav-bar{
    display: flex;
}

.logo{
    width: 100px;
    background-color: white;
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    flex:1;
}


.nav-list{
    background-color: white;
    width:100%;
    display: flex;
    padding-left: 100px;
    list-style: none;
    gap: 30px;
    text-align: center;
    text-decoration-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}


