html , body{
    margin:0
}

*{
    font-family: Arial, Helvetica, sans-serif;
    list-style:  none;
}





.divbar{
    background-color: #b4cddc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    width:100%;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bar-line{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    text-align: center;
}


.nav-bar{
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    background-color: white;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.divlogo{
    width: 100px;
    background-color: transparent;
    margin-left: 30px;
    margin-top: 7px;
    position: relative;
    
}

.logo-img{
    padding-top: 3px;
    padding-left: 5px;
}

.nav-menu{
   margin-left: 25px;
   margin-right: 15px;

}

.nav-list, .nav-list-item, .nav-list-item2, .nav-list-item6{
    background-color: white;
    display: flex;
    list-style: none;
    padding-top: 7px;
    gap: 25px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.nav-list-item, .nav-list-item2, .nav-list-item6{
    text-align: center;
    justify-content: center;
   
}

.nav-list-item a{
    color: black;
    text-decoration: none;
    
}


.nav-list-item2 a{
    color: #d5af37 ;
    text-decoration: none;
   
}

.nav-list-item6 a{
    color:#fd6500;
    text-decoration: none;

}

.navdiv-icons{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    padding-left: 50px ;
    margin-right: 50px;
    justify-content: right;
}

.nav-icons{
    margin-left: 10px;
    width: 25px;
    gap: 15px;
}

h3:hover{
text-decoration: underline;
}

.submenu-newin-list{
    display: flex;
     background-color: white;
     position: absolute;
     padding: 5px;
     margin-top: 12px;
     margin-left: -50px;
}

 .submenu-newin-list,.submenu-ramadan-list,.submenu-sales-list,.submenu-fragnance,.submenu-fabrics,.submenu-readytowear{

    display: none;

}

.div-img{
    width: 200px;
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

 .submenu-newin-img{
    display: flex;
    width: 180px;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
 
}


.nav-list-item:hover .submenu-newin-list{
     display:flex;
   
}

.nav-list-item2:hover .submenu-ramadan-list{
    display: flex;
    background-color: white;
    position: absolute;
    padding: 5px;
    margin-top: 12px;
    margin-left: -160px;
    
}

.div-img h3 a{
    color: black;
}

.nav-list-item6:hover .submenu-sales-list{
    display: flex;
    background-color: white;
    position: absolute;
    padding: 5px;
    margin-top: 12px;
    margin-right: 100px;
    margin-left: -400px;
    
}

.nav-list-item:hover .submenu-fragnance{
    display: flex;
    background-color: white;
    position: absolute;
    padding: 20px;
    margin-top: 12px;
    margin-left: -50px;
    gap: 30px;
    
}


.div-frag-submenu,.div-frag-submenu-2{
    display: flex;
    flex-direction: column;
    width: 180px;
    gap: 10px;
    margin-top: 30px;
    margin-left: 10px;
    position:relative;
}


.nav-list-item:hover .submenu-fabrics{
    display: flex;
    background-color: white;
    position: absolute;
    padding: 20px;
    margin-top: 12px;
    margin-left: -50px;
    gap: 30px;
}

.div-fabrics-submenu,.div-fabrics-submenu-2{
    width: 180px;
    gap: 10px;
    position: relative;
}

.div-fabrics-submenu ul h4,.div-fabrics-submenu-2 ul h4{
    text-align: left;
    color: black;
}

.nav-list-item:hover .submenu-readytowear{
    display:flex;
    background-color: white;
    position: absolute;
    width:850px;
    height:450px;
    margin-top: 15px;
    margin-left: 35px;
    padding:15px;
    gap: 30px;
}

.submenu-readytowear{
    overflow-y: scroll;
}

.div-essential-casuals,.div-signature{
    width: 180px;
    gap:10px;
    position: relative;
 
}


.div-signature ul h4,.div-essential-casuals ul h4{
text-align: left;
color: black;
}


h4:hover{
    text-decoration: underline;
}


.div-carousel-imgs{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-img{
    width: 100%;
}

.top-picks-container, .best-seller-container{
    align-items: center;
    justify-content: center;
}

.top-picks,.best-sellers{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.top-picks-text,.best-sellers-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.top-picks-img, .best-seller-img{
    width: 100%;
    margin-top: 15px;
}

.div-logo-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9f5;
    margin-top: 20px;
    
}

.ul-list-logo{
    display: flex;
    list-style:none;
    gap: 180px;
    margin-top: 20px;
    padding-top: 30px;
}

.list-logo a{
    text-decoration: none;
    color: black;

}

.div-help{
    display: flex;
    height: auto;
    gap: 160px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 180px;
    align-items: left;
    justify-content: left;
}

.div-faq{
    justify-content: flex-end;
    align-items: flex-end;
}

.div-faq img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.div-footer{
    display: flex;
    height: auto;
    gap: 160px;
    margin-top: 20px;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
}


.ul-footer-help,.ul-footer-more,.ul-footer-socials {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    list-style: none;
    gap: 60px;
    margin-top: 10px;
}


.li-footer-help a, .li-footer-more a, .li-footer-socials a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    line-height: 30px;
}


.div-end-footer{
    display: flex;
    height: auto;
    margin-top: 8px;
    margin-bottom: 40px;
    margin-left: 70px;
    gap:50px;
}

h4{
    font-size: 14px;
    font-weight: lighter;
    color: grey;
}

.div-pay,.div-securedby{
    
    padding-right: 50px;
    padding-left: 30px;
    gap: 30px;
    margin-left: 10px;
}

.div-khaddilogo{
    display: flex;
    padding-right: 50px;
    padding-left: 20px;
    padding-top: 15px;
    gap: 25px;
    margin-left: 10px;
}

.imgpay{
    width: 70px;
    height: auto;
}

.imgpay-union{
    width: 50px;
    height: auto;
}

.img-khaddilogo{
    width: 60px;
    height: auto;
}

.cpyright-txt{
    padding-top: 15px;
    font-size: 11px;
    color: grey;
    font-weight: lighter;
}

.div-social-email{
    margin-left: 20px;
}

.div-social-icons{
    display: flex;
    gap: 10px;
    margin-top: 5px;
    
}

.social-icon{
    width: 35px;
    height: 35px;
}

.div-footer-help h3:hover, .div-footer-more h3:hover, .div-footer-socials h3:hover,.div-footer-email h3:hover{
    text-decoration-line: none;
    
}

.div-footer-help li:hover, .div-footer-more li:hover, .div-footer-socials li:hover{
    text-decoration: underline;
}

.div-footer-email{
    margin-top: 50px;
    margin-bottom: 10px;
    
}

.div-footer-email h3{
    font-size: 13px;
    margin-bottom: 15px;
}

.div-email-input{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.email-input{
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    width: 180px;
    background-color: transparent;
}

.email-input::placeholder{
    color: grey;
    font-size: 13px;
}

.email-btn{
    background-color: #2d2d2d;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-left: 10px;
    letter-spacing: 1px;
}

